<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkDVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkDVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkDVR.Properties.Settings>
            <setting name="CaptureFrameInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeepMBRecodings" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FramesStoreFolder" serializeAs="String">
                <value />
            </setting>
        </WorkDVR.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WorkDVR.Properties.Settings>
            <setting name="ScreenCapturesFolder" serializeAs="String">
                <value>WorkDVR\ScreenCaptures</value>
            </setting>
        </WorkDVR.Properties.Settings>
    </applicationSettings>
</configuration>